// COLORS
$body-background: blue;
$body-background-light: rgb(0, 162, 255);

$list-background: #c5c9eb;
$list-background-dark: #9093ad;

$color-primary: #4fa644;
$color-primary-light: #64d355;
$color-primary-dark: #387430;

$default-font-color: #333;

// LAYOUT
$list-width: 30rem;
