.navbar {
  display: grid;
  grid-template-areas:
    "header header header"
    "title . menu";

  &__logo {
    width: 100vw;
    padding: 5px 0;
    grid-area: header;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }

  &__input {
    margin-left: 10px;
    padding: 5px 0;
    grid-area: title;
    background-color: $body-background;
    border: none;
    border-radius: 0.5rem;
    font-size: 2em;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  &__input--infocus {
    background-color: white;
    color: $default-font-color;
  }

  &__input--hover {
    background-color: $body-background-light;
  }

  &__menu {
    grid-area: menu;
    margin-right: 30px;
    color: white;
  }

  &__menu h1 {
    font-weight: 100;
  }
}
