.board {
  padding: 1rem;

  &__listDisplay {
    background-color: rbga(0 0 0 0);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($list-width, 1fr));
    grid-gap: 0 10px;
  }
}

.addList {
  &__form {
    background-color: $list-background;
    width: $list-width;
    border-radius: 0.5rem;
  }
}
