.form {
  padding: 0.5rem;

  &__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid blue;
    color: #333;
  }

  &__submit {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    background-color: $color-primary;
    color: white;
    cursor: pointer;
  }
}
