*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: blue; }

.board {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1rem 1rem; }

.addList {
  border-radius: 0.5rem;
  background-color: #c5c9eb;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .addList__form {
    width: 100%; }

.form {
  padding: 0.5rem; }
  .form__group:not(:last-child) {
    margin-bottom: 0.5rem; }
  .form__input {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #333; }
    .form__input--validation {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #555; }
  .form__submit {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    background-color: #4fa644;
    color: white;
    cursor: pointer;
    transition: all 0.2s; }
    .form__submit:focus, .form__submit:active {
      outline: none;
      transform: translateY(2px); }
    .form__submit:hover {
      background-color: #387430; }

.list {
  width: 100%;
  background-color: #c5c9eb;
  border-radius: 0.5rem;
  margin: 0 0 0 0;
  padding: 1rem;
  min-height: 100px;
  position: relative; }
  .list__heading {
    font-size: 2rem;
    width: 90%;
    overflow: hidden;
    font-family: sans-serif; }
  .list__remove {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2.5rem; }
    .list__remove:hover {
      color: red; }

.list:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
